.btn {
	display: inline-block;
    background: #0079c8;
    color: #fff;
    line-height: 1;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 6px;
    text-align: center;
    transition: background 0.2s ease;
}